---
import AboutHeroImage from '../assets/about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About IBAS DEV"
	description="IBAS DEV 개발팀을 소개합니다."
	pubDate={new Date('Nov 14 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		안녕하세요. 25-2 IBAS 개발팀 팀장 김해원입니다.
		IBAS 개발팀은 IBAS Web 프로젝트뿐만 아니라 다양한 프로젝트를 진행하며, 서로 지식을 공유하고 성장하는 조직입니다.
	</p>

	<p>
		현재 개발팀은 프로젝트팀과 스터디팀 두 분야로 나누어 활동하는 체제입니다. <br />
		프로젝트팀은 실제 서비스로 구현하기 위해 기획부터 개발까지 전반적인 과정을 진행하며, 그 과정 속에서 다양한 문제를 해결하고 배우며 성장합니다. <br />
		스터디팀은 개발 경험이 부족한 팀원들을 위해 기본기 강화와 기술 역량 향상을 목표로 꾸준히 학습을 이어가고 있습니다.
	</p>

	<p>
		제가 24학년도 2학기에 처음 개발팀에 합류했을 때, 개발팀은 스터디 위주로 활동했었습니다.
		그러다 문득 좋은 팀원들을 만났으니 함께 프로젝트를 진행하면 좋겠다는 생각이 들어 25학년도 1학기부터 현재 체제로 개편했습니다.
	</p>

	<p>
		IBAS 개발팀은 매 학기 다양한 서비스 개발 경험과 기술적 인사이트를 쌓아가며, 개발자로서 한 단계씩 성장하기 위한 발판을 만들어가고 있습니다.
	</p>

</Layout>
